@model JobOffersMVC.ViewModels.JobOffers.JobOfferDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Apply", "Apply", "UserApplications", new { jobOfferId = Model.Id })
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    @Html.Partial("~/Views/UserApplications/List.cshtml", Model.UserApplications)
</div>


<div>
    @Html.Partial("~/Views/Comments/List.cshtml", Model.Comments)
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>
