@model JobOffersMVC.ViewModels.Users.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="w-100">
                <img class="w-100" src="~/images/@Model.ImagePath" alt="@Model.ImagePath" />
            </div>
        </div>

        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
            </dl>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">

            <form enctype="multipart/form-data" asp-action="Upload">

                <div class="row align-items-end">

                    <div class="col-md-4">
                        <label asp-for="ProfileImage" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ProfileImage" class="custom-file-input" id="image">
                            <label class="custom-file-label" for="image">Choose file</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-primary">Upload</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

<div class="mt-4">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="List">Back to List</a>
</div>
